<!DOCTYPE html>
<html>
  <div class="container-md">

    <div class="row">
      <div class="col-lg">
        Why can't I increment sessions?
      </div>
    </div>

    <div class="row">
      <div class="col-lg">
      </div>
    </div>

  </div>

  <%= @session_num %>

  <pre>
      <code class="language-ruby line-numbers">
        class Cat
          def initialize(name)
            @name = name
          end
        end
      </code>
    </pre>
</html>