<!DOCTYPE html>
<html>
  <div class="container-md">

    <div class="row">
      <div class="col-lg">
        Why can't I increment sessions?
      </div>
    </div>

    <div class="row">
      <div class="col-lg">
      </div>
    </div>

  </div>

  <%= @session_num %>
</html>