

<div class="container-md">
  <div class="row">
    <div class="col-sm">
      <a href="/aboutpage">About</a>
    </div>
  </div>
            <%= @session_num %>
</div>

<pre>
      <code class="language-ruby line-numbers">
        class Dog
          def initialize(name)
            @name = name
          end
        end
      </code>
    </pre>


