<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= @title %></title>

  </head>

  <body>
    <div>
      <%= yield %>
      <p>There are <%= @num_users %>  users with a total of <%= count_interests(@users  ) %> interests.</p>
    </div>