<!DOCTYPE html>
<html>
  <div class="container-md">

    <div class="row">
      <div class="col-lg">
        Code Card was created by Nathan Worden
        <p><a href="https://github.com/nathanworden?tab=overview&from=2019-04-01&to=2019-04-03">Github</a></p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg">
        <img src="101616beach_fail.jpg" alt="Backflip" width="720" height="480">
      </div>
    </div>

  </div>
</html>