<div class="container-md">

  <div class="row">
    <div class="col-md">
      <h6><a href="/addcard">Add Card</a></h6>
    </div>
  </div>

  <div class="row">
    <div class="col-md">
      <h6>Click on a card to edit it</h6>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <ul>
        <% @directory.each do |basename, card| %>
          <% if card.include?("<h3>") %>
            <li>
                <a href="/<%= basename %>/edit">
                  <%= card %>
                </a>
            </li>
            <p> <%= @linespacer %></p>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>

