<div class="container-md">

  <div class="row">
    <div class="col-md">
      <h6><a href="/addcard">Add Card</a></h6>
    </div>
  </div>

  <div class="row">
    <div class="col-md">
      <h6>Click on a card to edit it</h6>
    </div>
  </div>

  <div class="row">
    <div class="col-md">
      <ul>
        <% @directory.each do |basename, card| %>
          <% if basename.include?("question") %>
            <li class="col-sm">
              
                <a href="/<%= basename %>/edit"><%= card %></a>
                  <form class="col-sm offset-sm-10" method="post" action="/destroy/<%= basename %>">
                  <button type="submit">Delete</button>
                  </form>
            </li>
            <p> <%= @linespacer %></p>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>

