<div class="container-md">
  <div class="row">
    <div class="display-4">
      <%= @congrats %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg">
      <ul>
        <% session[:questions].each do |key, value| %>
          <li>
            <%= "#{key} has been shown #{value[:times_shown]} times" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>