

<div class="container-md">
  <div class="row">
    <div class="col-sm">
      <a href="/cards">Cards</a>
    </div>
    <div class="col-sm">
      <a href="/practice/0">Practice</a>
    </div>
    <div class="col-sm">Add Card</div>
  </div>
</div>
