<div class="container-md">
  <div class="row">
    <div class="col-sm">
      <a href="/cards">Add/Edit Cards</a>
    </div>
    <div class="col-sm">
      <a href="/practice/<%= @start %>">Practice</a>
    </div>
    <div class="col-sm">
      <a href="/aboutpage">About</a>
    </div>
  </div>

  <p></p>

  <div class="row">
    <div class="col-sm">
      <p>Code Card was created for software development students who want to create syntax-highlighted flashcards for learning coding concepts.</p>
    </div>
  </div>



<div class="row">
  <div class="col-sm">
  <pre><code class="language-ruby line-numbers">
class Dog
  def initialize(name)
    @name = name
  end
end</code></pre>
</div>

</div>