<!DOCTYPE html>
<html>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script>
    $(document).ready(function(){
  $("#hide").click(function(){
    $("#answer").toggle();
  });
  $("#show").click(function(){
    $("#answer").toggle();
  });
});
  </script>

<div class="container-md">
      <div class="row">
        <div class="col-lg">
          <%= @question_contents %>
          <button id="hide">Show/Hide Answer</button>
          <div id="answer" style="display:none;"><%= @answer_contents %></div>
        </div>
      </div>
      <div class="row">
        <p></p>
      </div>
      <div class="row">
        <div class="col-md">
          <form method="post" action="/practice/nextcard/<%= @card_index %>">
            <button type="submit">That was easy</button>
          </form>
        </div>
        <div class="col-md">
          <form method="post" action="">
            <button type="submit">Medium</buttion>
          </form>
        </div>
        <div class="col-md">
          <form method="post" action="">
            <button type="submit">Hard</buttion>
          </form>
        </div>
      </div>
    </div>
</html>