<div class="container-md">
      <div class="row">
        <div class="col-lg">
          <%= @contents %>
        </div>
      </div>
      <div class="row">
        <div class="col-lg">That Was Easy (double the time until you show it to me again)</div>
        <div class="col-lg">Medium (Keep the time interval the same)</div>
        <div class="col-lg">Hard (Cut the time interval in half)</div>
      </div>
    </div>
