<ul id="lists">
  <% @lists.each do |list| %>
    <li>
      <a>
        <h2><%= list[:name] %></h2>
        <p><%= list[:todos].size %></p>
      </a>
    </li>
  <% end %>
</ul>

<p><a href="/lists/new">New List</a></p>
<p><a href="/lists/delete">Delete Most Recent List </a></p>