<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/playing_with_jquerty_stylesheets.css">
  </head>

  <div class="container">
    <div class="jumbotron">
      <h1>Let's Have Fun!</h1>
      <button id="btn1">#button 1</button>
      <button id="btn2">#button 2</button>
      <button id="btn3">#button 3</button>
      <button id="btn4">#button 4</button>
    </div>

<div class="row">
  <div class="col-xs-3">
    <div id="panel1" class="panel panel-primary">
      <div class="panel-heading">
        #panel1
      </div>
      <div class="panel-body">content
      </div>
    </div>
  </div>

  <div class="col-xs-3">
    <div id="panel2" class="panel panel-primary">
      <div class="panel-heading">
        #panel2
      </div>
      <div class="panel-body">content
      </div>
    </div>
  </div>

    <div class="col-xs-3">
    <div id="panel3" class="panel panel-primary">
      <div class="panel-heading">
        #panel3
      </div>
      <div class="panel-body">content
      </div>
    </div>
  </div>

    <div class="col-xs-3">
    <div id="panel4" class="panel panel-primary">
      <div class="panel-heading">
        #panel4
      </div>
      <div class="panel-body">content
      </div>
    </div>
  </div>



  <script src="jQuery/jquery-3.4.1.js"> </script>

  <script>
    $(document).ready(function () {

      $('#panel1').html('my button');



    });
  </script>

</html>












